.footer {
    background-color: #cfdaec;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position:static;
    left: 0;
    bottom: 0;

    

    /* position: absolute; Фиксированная позиция */
    /* bottom: 0; Прижимаем к нижнему краю */
    /* left: 0; Выравниваем по левому краю */
    /* width: 100%; Занимает всю ширину экрана */
    /* z-index: 1000; Устанавливаем z-index для footer, чтобы он был поверх других элементов */
}


.iconFooter img {
    max-width: 50px; /* Уменьшаем размер изображения */
    height: auto;
}

.textFooter {
    text-align: center;
    max-width: 70%;
}
